{{#each this}}
  <li class="card">
    <div class="img-wrap">
      <img src="{{flags.svg}}" alt="{{name.official}}" width="100" />
    </div>
    <div>
      <p>{{name.official}}</p>
    </div>
  </li>
{{/each}}